.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  color: deepskyblue;
}

.skyblueout {
  outline: 5px deepskyblue;
}

.red {
  background: indianred;
}
